body {
  background-color: #f0f2f5;
}

.inputField {
  width: 26%;
  background-color: white;
  height: 46%;
  margin-left: 55.5%;
  position: absolute;
  margin-top: -2.7%;
  border-radius: 8px;
}

.inputclass {
  padding: 8px 10px 10px 0;
  width: 80%;
  color: #000;
  font-size: inherit;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 2%;
  line-height: 1.4;
  position: absolute;
  margin: 7%;
}

.inputclass:focus {
  outline: none;
  border-bottom: 3px solid skyblue;
}

.buttonclass {
  width: 85%;
  height: 14%;
  margin-top: 36%;
  margin-left: 6%;
  background-color: #1877f2;
  font-family: Roboto, Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}



.extraArrow {
  padding: 8px 10px 10px 0;
  width: 80%;
  color: #000;
  font-size: inherit;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  margin-left: 2%;
  line-height: 1.4;
  position: absolute;
  margin: 7%;
  margin-top: -0.5%;
}

.newAccountButton {
  width: 50%;
  height: 14%;
  margin-top: 13%;
  margin-left: 23%;
  background-color: #6200ee;
  font-family: Roboto, Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.signupBody {
  width: 30%;
  height: 65%;
  background-color: #fff;
  margin-left: 35%;
  margin-top: 10%;
  position: absolute;
  border-radius: 8px;
}

.tagLine {
  color: #606770;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-left: 5%;
  margin-top: 0.5%;
}

.text1 {
  color: #1c1e21;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 1%;
}


.signupInput {
  padding: 8px 10px 10px 0;
  width: 35%;
  color: #000;
  font-size: inherit;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 2%;
  line-height: 1.4;
  position: absolute;
  margin: 7%;
}

.signupInput:focus {
  outline: none;
  border-bottom: 3px solid skyblue;
}


.friendCointainer {
  display: grid;
  grid-template-columns: auto;
}

.friendBox {
  width: 98%;
  height: 70%;
  margin-left: 1%;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  margin-top: 2%;
}

.innerContent{
  margin-left:30%;
  position:absolute;
  margin-top:-18px;
}

@media only screen and (max-width: 540px) {

  .signupBody {
    width: 90%;
    height: 65%;
    background-color: #fff;
    margin-left: 4%;
    margin-top: 16%;
    position: absolute;
  }

  .tagLine {
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-left: 5%;
    margin-top: 0.5%;
  }

  .buttonclass {
    width: 73%;
    height: 10%;
    margin-top: 43%;
    margin-left: 11%;
    background-color: #1877f2;
    font-family: Roboto, Arial, sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
  }

  extraArrow {
    padding: 8px 10px 10px 0;
    width: 80%;
    color: #000;
    font-size: inherit;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    margin-left: 2%;
    line-height: 1.4;
    position: absolute;
    margin: 7%;
    margin-top: -0.5%;
  }

  .innerContent{
     margin-left:40%;
     position:absolute;
     margin-top:-10px;
  }

  .friendBox {
    width: 98%;
    height: 70%;
    margin-left: 1%;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    margin-top: 2%;
    font-size:7.5px;
  }

}

@media only screen and (min-width:501px) and (max-width: 900px) {
  .signupBody {
    width: 90%;
    height: 74%;
    background-color: #fff;
    margin-left: 4%;
    margin-top: 16%;
    position: absolute;
  }

  .tagLine {
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-left: 5%;
    margin-top: 0.5%;
  }


}